    <!DOCTYPE hibernate-configuration PUBLIC  
              "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
              "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
      
    <hibernate-configuration>  
      
        <session-factory>  
            <property name="hbm2ddl.auto">update</property>  
            <property name="dialect"> org.hibernate.dialect.MySQLDialect</property>  
            <property name="connection.url">jdbc:mysql://localhost/emp</property>  
            <property name="connection.username">root</property>  
            <property name="connection.password">pass</property>  
            <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="show_sql">true</property>  
            <property name="format_sql">true</property>
            <property name="hbm2ddl.auto">update</property>
            <!-- to enable second level cache -->
           <!--  <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>  
			<property name="hibernate.cache.use_second_level_cache">true</property>
			 -->
			  <!-- to enable query cache -->
			<!-- <property name="hibernate.cache.use_query_cache">true</property> -->
			
        <mapping resource="com/hbm/employee.hbm.xml"/>  
        
        </session-factory>  
    </hibernate-configuration>  